

.container {
    display: grid;
    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    width: 600px;
    height: 600px;
    margin: auto; 
    border: 2px solid black;
}

.grid {
    background: grey;
}